<!-- id          -   Identifiant unique du collaborateur (ObjectID ou INT(11))
gender      -   Sexe ("male" ou "female")
firstname   -   Prénom
lastname    -   Nom
email       -   Email pro
password    -   Mot de passe haché avec bcrypt
phone       -   Numéro de la ligne directe
birthdate   -   Date de naissance
city        -   Ville où le collaborateur travaille
country     -   Pays où le collaborateur travaille
photo       -   Une URL valide vers une image en ligne
category    -   Service dans lequel travaille le collaborateur ("Marketing", "Client" ou "Technique")
isAdmin     -   Le collaborateur est un administrateur de la platforme (Boolean) -->
<app-navbar></app-navbar>
<!-- <div class="container">
    <form action="">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id" value="id"><br>
        <label for="gender">gender:</label><br>
        <input type="text" id="gender" name="gender" value="John"><br>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">lastname:</label><br>
        <input type="text" id="lname" name="lname" value="John"><br>
        <label for="email">email :</label><br>
        <input type="text" id="email" name="email" value="John"><br>
        <label for="password">password :</label><br>
        <input type="text" id="password" name="password" value="John"><br>
        <label for="phone">phone:</label><br>
        <input type="text" id="phone" name="phone" value="John"><br>
        <label for="bdate">birthdate:</label><br>
        <input type="text" id="bdate" name="bdate" value="John"><br>
        <label for="city">city:</label><br>
        <input type="text" id="city" name="city" value="John"><br>
        <label for="country">country:</label><br>
        <input type="text" id="country" name="country" value="John"><br>
        <label for="photo">photo:</label><br>
        <input type="text" id="photo" name="photo" value="John"><br>
        <label for="category">category:</label><br>
        <input type="text" id="category" name="category" value="John"><br>
        <label for="isAdmin">isAdmin:</label><br>
        <input type="text" id="isAdmin" name="isAdmin" value="John"><br>
        <input type="submit" value="Submit">
    </form>
</div> -->

<div container>
    <div class="col-sm-6">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="id">Identifiant unique du collaborateur</label>
                        <input type="text" class="form-control" id="id" placeholder="Entrer l'ID">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                    <label for="email">Email pro</label>
                    <input type="email" class="form-control" id="email" placeholder="Entrer l'email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="gender">Sexe</label>
                        <select class="form-control" id="gender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="birthdate">Date de naissance</label>
                        <input
                        type="date"
                        class="form-control"
                        id="birthdate"
                        name="birthdate"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="firstname">Prénom</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Entrer le prénom">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                    <label for="lastname">Nom</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Entrer le nom">
                    </div>
                </div>
            </div>
            <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" placeholder="Entrer le mot de passe">
            </div>
            <div class="form-group">
                <label for="phone">Numéro de la ligne directe</label>
                <input
                type="tel"
                class="form-control"
                id="phone"
                name="phone"
                placeholder="Entrer votre numéro de téléphone"
                />
            </div>
            <div class="form-group">
                <label for="city">Ville où le collaborateur travaille</label>
                <input
                type="text"
                class="form-control"
                id="city"
                name="city"
                placeholder="Entrer la ville où vous travaillez"
                />
            </div>
            <div class="form-group">
                <label for="country">Pays où le collaborateur travaille</label>
                <input
                type="text"
                class="form-control"
                id="country"
                name="country"
                placeholder="Entrer le pays où vous travaillez"
                />
            </div>
            <div class="form-group">
                <label for="photo">Une URL valide vers une image en ligne</label>
                <input
                type="file"
                class="form-control"
                id="photo"
                name="photo"
                accept="image/png, image/jpeg"
                placeholder="Entrer une URL valide vers une image en ligne"
                />
            </div>
            <div class="form-group">
                <label for="category">Service dans lequel travaille le collaborateur</label>
                <select class="form-control" id="category">
                <option>Marketing</option>
                <option>Client</option>
                <option>Technique</option>
                </select>
            </div>
            <div class="form-group">
                <label for="isAdmin">Le collaborateur est un administrateur de la plateforme</label>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="isAdmin" id="yes" value="yes">
                <label class="form-check-label" for="yes">Oui</label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="isAdmin" id="no" value="no">
                <label class="form-check-label" for="no">Non</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-6">

    </div>
</div>