<app-navbar></app-navbar>
<!-- <div class="container">
    <div>
        <h1 class="text-center">Bienvenue sur l'intranet de la Débrouille</h1>
    </div>
    <div>
        <a href="">Inscrivez-vous</a>
        <a href="">Connectez-vous</a>
    </div>
</div> -->
<div class="container">
    <h1 class="display-4 text-center">Bienvenue sur notre site intranet</h1>
    <hr class="my-4">
    <div class="container">
        <div class="row">
          <div class="col-sm-6 text-center">
            <button class="btn btn-primary" routerLink="/user-connexion">Connexion</button>
          </div>
          <div class="col-sm-6 text-center">
            <button class="btn btn-secondary" routerLink="/user-form">Inscrivez-vous</button>
          </div>
        </div>
    </div>
    <p>Cliquez sur les liens du menu pour en savoir plus sur notre site.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
  </div>